[submodule "Products/N-Series/SBC/DEBIX_Model_A"]
	path = Products/N-Series/SBC/DEBIX_Model_A
	url = https://github.com/debix-tech/debix-model-a.git
[submodule "Products/N-Series/SBC/DEBIX_Model_B"]
	path = Products/N-Series/SBC/DEBIX_Model_B
	url = https://github.com/debix-tech/debix-model-b.git
[submodule "Products/N-Series/SBC/DEBIX_Model_C"]
	path = Products/N-Series/SBC/DEBIX_Model_C
	url = https://github.com/debix-tech/debix-model-c.git
[submodule "Products/N-Series/SBC/DEBIX_Infinity"]
	path = Products/N-Series/SBC/DEBIX_Infinity
	url = https://github.com/debix-tech/debix-infinity.git
[submodule "Products/N-Series/SOM/DEBIX-SOM-A"]
	path = Products/N-Series/SOM/DEBIX-SOM-A
	url = https://github.com/debix-tech/debix-som-a.git
[submodule "Products/N-Series/SOM/DEBIX-SOM-A-IO-Board"]
	path = Products/N-Series/SOM/DEBIX-SOM-A-IO-Board
	url = https://github.com/debix-tech/debix-som-a-io-board.git
[submodule "Products/N-Series/SOM/DEBIX-SOM-B"]
	path = Products/N-Series/SOM/DEBIX-SOM-B
	url = https://github.com/debix-tech/debix-som-b.git
[submodule "Products/N-Series/SOM/DEBIX-SOM-C"]
	path = Products/N-Series/SOM/DEBIX-SOM-C
	url = https://github.com/debix-tech/debix-som-c.git
[submodule "Products/N-Series/Box_PC/BPC-iMX93-01"]
	path = Products/N-Series/Box_PC/BPC-iMX93-01
	url = https://github.com/debix-tech/bpc-imx93-01.git
[submodule "Products/N-Series/Box_PC/BPC-iMX8MP-01"]
	path = Products/N-Series/Box_PC/BPC-iMX8MP-01
	url = https://github.com/debix-tech/bpc-imx8mp-01.git
[submodule "Products/N-Series/Box_PC/BPC-iMX8MP-03"]
	path = Products/N-Series/Box_PC/BPC-iMX8MP-03
	url = https://github.com/debix-tech/bpc-imx8mp-03.git
[submodule "Products/N-Series/Box_PC/BPC-iMX8MP-05"]
	path = Products/N-Series/Box_PC/BPC-iMX8MP-05
	url = https://github.com/debix-tech/bpc-imx8mp-05.git
[submodule "Products/N-Series/Box_PC/BPC-iMX8MP-08"]
	path = Products/N-Series/Box_PC/BPC-iMX8MP-08
	url = https://github.com/debix-tech/bpc-imx8mp-08.git
[submodule "Products/N-Series/SOM/DEBIX-SOM-D"]
	path = Products/N-Series/SOM/DEBIX-SOM-D
	url = https://github.com/debix-tech/debix-som-d.git
[submodule "Products/N-Series/Panel/11.6-iMX8MP-Modular-Panel"]
	path = Products/N-Series/Panel/11.6-iMX8MP-Modular-Panel
	url = https://github.com/debix-tech/11.6-imx8mp-modular-panel.git
[submodule "Products/N-Series/Panel/10.1-iMX8MP-Modular-Panel"]
	path = Products/N-Series/Panel/10.1-iMX8MP-Modular-Panel
	url = https://github.com/debix-tech/10.1-imx8mp-modular-panel.git
[submodule "Products/N-Series/Panel/15.6-iMX8MP-Modular-Panel"]
	path = Products/N-Series/Panel/15.6-iMX8MP-Modular-Panel
	url = https://github.com/debix-tech/15.6-imx8mp-modular-panel.git
